*,
*::after,
*::before{
  box-sizing: border-box;
}

*{
  padding: 0;
  margin: 0;
}

:root{
  --font-family: "Montserrat", sans-serif;

  /* COLORS */
  --bg-color: #030611;
  --shape-color: #13151D;
  --shape-color-hover: #151822;
  --dark: #050814;
  --blue: #448fd1;
  --blue-hover:#a8cdeec7;
  --blue-hover:#62a1d9;
}

body{
  background: var(--bg-color);
  color: white;
  font-family: var(--font-family);
}

a{
  text-decoration: none;
  color: inherit;

  &:hover{
    color: var(--blue);
  }
}



.desktop-only {
  display: none;
}

.end{
  align-items: end;
}