header {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  & ul[role="list"] {
    display: flex;
    gap: 1rem;

    & li {
      list-style: none;
    }
  }
}

.logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  & h3 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.04rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
}

.sigin-header {
  display: flex;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;

  & a {
    display: inline-flex;
    font-size: 1rem;
  }
}

.logo-mobile-only{
  display: none;
}

.header-mobile-only {
  display: none;
}

@media (width<=68.75em) {
  .header-mobile-only {
    display: initial;

    & ul {
      align-items: center;
      & li:nth-child(3) {
        background-color: var(--blue);
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid var(--blue);
      }
    }

    & i {
      margin-left: 0.5rem;
    }
  }
}

@media(width<=44rem){
  .logo-mobile-only{
  display: initial;
}
}