header {
  padding-block: 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  & ul[role="list"] {
    display: flex;
    gap: 1.5rem;
    list-style: none;

    & li:hover {
      transition: all 250ms;
    }
  }
}

.logo {
  align-items: center;
  display: flex;
  gap: 0.5rem;

  & h3 {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: -0.04rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
  }
}


.ul-desktop-only {
  display: none;
}

@media (width>=40em) {
  .ul-desktop-only {
    display: initial;
  }
}

@media (width>=80em) {
}
