#app {
  display: grid;
}

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - 2rem * 2);
  margin-inline: auto;
}

@media (width>=27.5em) {
  .container {
    --max-width: 100%;
  }
}

@media (width>=80em) {
  .container {
    --max-width: 90rem;
  }

  .desktop-only {
    display: initial;
  }

  .header-content {
    & h1 {
      text-align: center;
    }
  }
}
